.category-container {

  &:not(:first-child) {
    margin-top: 30px;
  }

  &_header {
    @include centerAll;
    justify-content: flex-start;
    max-height: 45px;
    font-size: 20px;
    color: #fff;
    border-top: 2px solid #f36522;
    margin-bottom: 20px;

    &-title {
      background: #f36522;
      display: flex;
      align-items: center;
      min-height: 40px;

      span {
        padding: 0 10px;
      }

      &::before {
        content: "";
        position: relative;
        border-top: 20px solid transparent;
        border-left: 25px solid yellow;
        border-bottom: 20px solid transparent;
      }

      &::after {
        content: "";
        left: 25px;
        position: relative;
        border-top: 20px solid transparent;
        border-left: 25px solid #f36522;
        border-bottom: 20px solid transparent;
      }
    }
  }

  &_content {
    height: 600px;
    display: flex;

    @include smartphone {
      height: auto;
    }

    .content-left {
      width: 20%;
      padding: 5px;
      // height: 100px;
      background: #f36522;

      @include smartphone {
        display: none;
      }
    }

    .content-right {
      width: 80%;
      padding: 5px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 15px;

      @include smartphone {
        width: 100%;
        grid-template-columns: 1fr 1fr;
      }

      // height: 100px;
      &-item {
        height: 280px;
        border: 1px solid #d9d9d9;
        box-shadow: 1px 2px 9px #d9d9d9;

        &-image {
          width: 100%;
          height: 80%;

          img {
            object-fit: cover;
            height: -webkit-fill-available;
          }
        }

        &-content {
          padding: 5px;
          height: 20%;
          text-align: center;
        }
      }
    }
  }
}