$menu-width: 265px;
$header-height: 65px;
$topbar-height: 90px;

.innerlayout {
    &-root {
        display: flex;
        flex-direction: column;
    }

    &-page {
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        flex: 1 0 auto;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 auto;
        min-width: 0;

        .sticky {
            position: fixed !important;
            top: 0;
            width: 100%;
        }

        .sticky+.content {
            padding-top: 102px;
        }
    }

    &-menu {
        width: $menu-width;
        position: fixed;
        overflow: auto;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        background-color: $secondary-color;
    }

    &-content {
        padding: 0 24px 12px !important;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }

    &-header {
        background-color: $main-color;
        height: $header-height;
        min-height: $header-height;
        box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);

        color: $text-color-contrast;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0 30px;
        z-index: 1000;

        .menu {
            width: 100%;
            background: transparent;

            .ant-menu {
                background: transparent;
                color: $text-color-contrast;
                font-weight: bold;
                border-bottom: none;

                .ant-menu-submenu-selected {
                    .ant-menu-submenu-title {
                        color: $text-color-contrast !important;
                    }
                }

                .ant-menu-item-selected {
                    .ant-menu-title-content {
                        color: $text-color-contrast !important;
                    }
                }
            }
        }
    }

    &-topbar {
        min-height: $topbar-height;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include smartphone {
            justify-content: space-around
        }

        &__logo {
            @include centerAll;
            height: 100%;
            width: 15%;

            .logo__inner {
                width: 100%;
                height: 100%;
                @include centerAll;

                img {
                    object-fit: fill;
                    max-height: calc($topbar-height - 10px);

                    @include smartphone {
                        max-height: 50px
                    }
                }
            }
        }

        &__search {
            @include centerAll;
            height: 100%;
            width: 50%;
        }

        &__hotline {
            @include centerAll;
            height: 100%;
            width: 15%;

            @include smartphone {
                width: 50%;
            }

            .hotline__content {
                padding: 10px 20px;
                border: 2px solid $main-color;
                border-radius: 25px;
                font-weight: 700;
                color: $main-color;

                @include smartphone {
                    display: inherit;
                }

                &:hover {
                    background: $main-color;
                    color: #fff !important;

                    a {
                        color: #fff !important;
                    }
                }

                a {
                    color: $main-color;
                    text-decoration: unset;
                }
            }
        }

        &__social {
            @include centerAll;
            height: 100%;
            width: 10%;
        }
    }

    &-footer {

        &-above {
            min-height: 40%;
            background: #633106;
            padding: 1em;

            &-name {
                color: $text-color-contrast;
                font-weight: 700;
                font-size: 1.8rem;
                padding: 1.8rem;
                padding-top: 0.5em;
                @include centerAll;
            }

            &-content {
                @include centerAll;
                color: $text-color-contrast;
                justify-content: space-around;

                @include smartphone {
                    display: contents;
                }

                ul {
                    list-style: none;
                }

                ul li {
                    position: relative;
                    list-style: none;
                    margin-bottom: 1em;
                }

                ul li::before {
                    content: '';
                    display: block;
                    width: 7px;
                    height: 12px;
                    left: -26px;
                    border-radius: 0;
                    opacity: 1;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    border-right: 3px solid #4bd86c;
                    border-bottom: 3px solid #4bd86c;
                    position: absolute;
                    -webkit-transition: all .12s, border-color .08s;
                    transition: all .12s, border-color .08s;
                }
            }
        }

        &-below {
            height: 60%;
            padding: 1em;
            ;

            &-content {
                height: 100%;
                width: 100%;
                display: flex;

                @include smartphone {
                    display: contents;
                }

                &-column {

                    &-1 {
                        width: 33.333%;

                        @include smartphone {
                            width: 100%;
                        }

                        .logo {
                            width: 100%;
                            margin-bottom: 10px;

                            .logo__inner {
                                @include centerAll;
                                width: 100%;
                                height: 100%;

                                img {
                                    object-fit: fill;
                                    max-height: calc($topbar-height - 10px);

                                    @include smartphone {
                                        max-height: 50px
                                    }
                                }
                            }
                        }

                        .content {
                            &-title {
                                font-weight: 700;
                                font-size: 20px;
                            }
                        }
                    }

                    &-2 {
                        width: 33.333%;

                        @include smartphone {
                            width: 100%;
                        }

                        .content {
                            &-title {
                                font-weight: 700;
                                font-size: 20px;
                                margin-bottom: 20px;
                            }
                        }
                    }

                    &-3 {
                        width: 33.333%;

                        @include smartphone {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}